<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ "/" | relative_url }}">知 庚</a>
    <nav class="site-nav">
      {% assign nav_pages = site.pages | sort: "order" %}
      {% for nav_page in nav_pages %}
        {% if nav_page.order and nav_page.title != "首页" %}
          {% assign nav_url = nav_page.url | remove: "index.html" %}
          {% assign current_url = page.url | remove: "index.html" %}
          <a class="page-link{% if current_url contains nav_url %} active{% endif %}" href="{{ nav_page.url | relative_url }}">
            {{ nav_page.title }}
          </a>
        {% endif %}
      {% endfor %}
    </nav>
  </div>
</header>
