<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title != "首页" %}{{ page.title }} · {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description }}">
  {% seo %}
  {% feed_meta %}
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>

  {% include navigation.html %}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {% include breadcrumb.html %}
      {{ content }}
    </div>
  </main>

  {% include footer.html %}

</body>
</html>
